body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-45px;
  width:1554px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:1199px;
  background:inherit;
  background-color:rgba(239, 239, 239, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4081 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:133px;
  width:274px;
  height:1199px;
  display:flex;
}
#u4081 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1199px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4082 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:133px;
  width:1280px;
  height:1199px;
  display:flex;
}
#u4082 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1554px;
  height:65px;
  background:inherit;
  background-color:rgba(90, 88, 97, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4083 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:68px;
  width:1554px;
  height:65px;
  display:flex;
}
#u4083 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4084 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:82px;
  width:192px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4084 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4084_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4085 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:159px;
  width:266px;
  height:47px;
  display:flex;
}
#u4085 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4086 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:172px;
  width:22px;
  height:22px;
  display:flex;
}
#u4086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.850980392156863);
}
#u4087 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:175px;
  width:28px;
  height:16px;
  display:flex;
  color:rgba(51, 51, 51, 0.850980392156863);
}
#u4087 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4087_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:63px;
  background:inherit;
  background-color:rgba(90, 88, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4088 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:69px;
  width:120px;
  height:63px;
  display:flex;
  color:#FFFFFF;
}
#u4088 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:63px;
  background:inherit;
  background-color:rgba(90, 88, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4089 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:69px;
  width:120px;
  height:63px;
  display:flex;
  color:#FFFFFF;
}
#u4089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:63px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4090 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:70px;
  width:120px;
  height:63px;
  display:flex;
  color:#000000;
}
#u4090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(90, 88, 97, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4091 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:159px;
  width:188px;
  height:18px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4091 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4091_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4091.selected {
}
#u4091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:2px;
}
#u4092 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:190px;
  width:1250px;
  height:1px;
  display:flex;
}
#u4092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:63px;
  background:inherit;
  background-color:rgba(90, 88, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4093 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:69px;
  width:120px;
  height:63px;
  display:flex;
  color:#FFFFFF;
}
#u4093 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:50px;
  background:inherit;
  background-color:rgba(179, 179, 179, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u4094 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:204px;
  width:1250px;
  height:50px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u4094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4095 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:254px;
  width:1250px;
  height:440px;
}
#u4096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:80px;
}
#u4096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:28px;
}
#u4096 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:80px;
}
#u4097 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:0px;
  width:1083px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
  text-align:left;
  line-height:28px;
}
#u4097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:60px;
}
#u4098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:167px;
  height:60px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:28px;
}
#u4098 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:60px;
}
#u4099 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:80px;
  width:1083px;
  height:60px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:left;
  line-height:28px;
}
#u4099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:60px;
}
#u4100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:167px;
  height:60px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:28px;
}
#u4100 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:60px;
}
#u4101 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:140px;
  width:1083px;
  height:60px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5A5861;
  text-align:left;
  line-height:28px;
}
#u4101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:60px;
}
#u4102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:167px;
  height:60px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:28px;
}
#u4102 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:60px;
}
#u4103 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:200px;
  width:1083px;
  height:60px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#646464;
  text-align:left;
  line-height:28px;
}
#u4103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:60px;
}
#u4104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:167px;
  height:60px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:28px;
}
#u4104 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:60px;
}
#u4105 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:260px;
  width:1083px;
  height:60px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#30B2FF;
  text-align:left;
  line-height:28px;
}
#u4105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:60px;
}
#u4106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:167px;
  height:60px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:28px;
}
#u4106 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:60px;
}
#u4107 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:320px;
  width:1083px;
  height:60px;
  display:flex;
  font-size:12px;
  color:#30B2FF;
  text-align:left;
  line-height:28px;
}
#u4107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:60px;
}
#u4108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:380px;
  width:167px;
  height:60px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:28px;
}
#u4108 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:60px;
}
#u4109 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:380px;
  width:1083px;
  height:60px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:left;
  line-height:28px;
}
#u4109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4110 label {
  left:0px;
  width:100%;
}
#u4110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4110 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:659px;
  width:100px;
  height:15px;
  display:flex;
  color:#646464;
}
#u4110 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4110_img.selected {
}
#u4110.selected {
}
#u4110_img.disabled {
}
#u4110.disabled {
}
#u4110_img.selectedDisabled {
}
#u4110.selectedDisabled {
}
#u4110_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u4110_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4111 label {
  left:0px;
  width:100%;
}
#u4111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4111 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:659px;
  width:100px;
  height:15px;
  display:flex;
  color:#646464;
}
#u4111 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4111_img.selected {
}
#u4111.selected {
}
#u4111_img.disabled {
}
#u4111.disabled {
}
#u4111_img.selectedDisabled {
}
#u4111.selectedDisabled {
}
#u4111_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u4111_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:50px;
  background:inherit;
  background-color:rgba(179, 179, 179, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u4112 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:711px;
  width:1250px;
  height:50px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u4112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4113 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:761px;
  width:1250px;
  height:260px;
}
#u4114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:80px;
}
#u4114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:28px;
}
#u4114 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:80px;
}
#u4115 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:0px;
  width:1083px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
  text-align:left;
  line-height:28px;
}
#u4115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:60px;
}
#u4116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:167px;
  height:60px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:28px;
}
#u4116 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:60px;
}
#u4117 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:80px;
  width:1083px;
  height:60px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:left;
  line-height:28px;
}
#u4117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:60px;
}
#u4118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:167px;
  height:60px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:28px;
}
#u4118 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:60px;
}
#u4119 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:140px;
  width:1083px;
  height:60px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u4119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:60px;
}
#u4120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:167px;
  height:60px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  line-height:28px;
}
#u4120 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1083px;
  height:60px;
}
#u4121 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:200px;
  width:1083px;
  height:60px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#646464;
  text-align:left;
  line-height:28px;
}
#u4121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(90, 88, 97, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4122 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:1037px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4122_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4122.mouseOver {
}
#u4122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.203921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5A5861;
}
#u4123 {
  border-width:0px;
  position:absolute;
  left:1420px;
  top:1037px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5A5861;
}
#u4123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4123_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5A5861;
}
#u4123.mouseOver {
}
#u4123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:60px;
  background:inherit;
  background-color:rgba(179, 179, 179, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4124 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:237px;
  width:266px;
  height:60px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:60px;
  background:inherit;
  background-color:rgba(179, 179, 179, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:20px;
  color:#FFFFFF;
}
#u4125 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:618px;
  width:266px;
  height:60px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u4125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#5A5861;
}
#u4126 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:683px;
  width:266px;
  height:60px;
  display:flex;
  font-size:18px;
  color:#5A5861;
}
#u4126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#5A5861;
}
#u4127 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:743px;
  width:266px;
  height:60px;
  display:flex;
  font-size:18px;
  color:#5A5861;
}
#u4127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:60px;
  background:inherit;
  background-color:rgba(179, 179, 179, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4128 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:303px;
  width:266px;
  height:60px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#5A5861;
}
#u4129 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:369px;
  width:266px;
  height:60px;
  display:flex;
  font-size:18px;
  color:#5A5861;
}
#u4129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u4130 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:323px;
  width:16px;
  height:19px;
  display:flex;
}
#u4130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u4131 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:258px;
  width:16px;
  height:19px;
  display:flex;
}
#u4131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u4132 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:327px;
  width:22px;
  height:13px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#FFFFFF;
}
#u4132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u4133 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:642px;
  width:22px;
  height:13px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#FFFFFF;
}
#u4133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:60px;
  background:inherit;
  background-color:rgba(179, 179, 179, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:20px;
  color:#FFFFFF;
}
#u4134 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:869px;
  width:266px;
  height:60px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u4134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#5A5861;
}
#u4135 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:934px;
  width:266px;
  height:60px;
  display:flex;
  font-size:18px;
  color:#5A5861;
}
#u4135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#5A5861;
}
#u4136 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:994px;
  width:266px;
  height:60px;
  display:flex;
  font-size:18px;
  color:#5A5861;
}
#u4136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u4137 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:639px;
  width:16px;
  height:19px;
  display:flex;
}
#u4137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u4138 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:893px;
  width:22px;
  height:13px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#FFFFFF;
}
#u4138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#5A5861;
}
#u4139 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:1054px;
  width:266px;
  height:60px;
  display:flex;
  font-size:18px;
  color:#5A5861;
}
#u4139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#5A5861;
}
#u4140 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:429px;
  width:266px;
  height:60px;
  display:flex;
  font-size:18px;
  color:#5A5861;
}
#u4140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#5A5861;
}
#u4141 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:489px;
  width:266px;
  height:60px;
  display:flex;
  font-size:18px;
  color:#5A5861;
}
#u4141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#5A5861;
}
#u4142 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:549px;
  width:266px;
  height:60px;
  display:flex;
  font-size:18px;
  color:#5A5861;
}
#u4142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:60px;
  background:inherit;
  background-color:rgba(90, 88, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:20px;
  color:#FFFFFF;
}
#u4143 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:1123px;
  width:266px;
  height:60px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u4143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#5A5861;
}
#u4144 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:1188px;
  width:266px;
  height:60px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#5A5861;
}
#u4144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#5A5861;
}
#u4145 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:1248px;
  width:266px;
  height:60px;
  display:flex;
  font-size:18px;
  color:#5A5861;
}
#u4145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u4146 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:890px;
  width:16px;
  height:19px;
  display:flex;
}
#u4146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u4147 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:1144px;
  width:22px;
  height:13px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#FFFFFF;
}
#u4147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u4148 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:1144px;
  width:16px;
  height:19px;
  display:flex;
}
#u4148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#5A5861;
}
#u4149 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:802px;
  width:266px;
  height:60px;
  display:flex;
  font-size:18px;
  color:#5A5861;
}
#u4149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
